/**
 * Copyright: (c) Temasys Communications Pte Ltd - All Rights Reserved
 */
body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a, button {
  cursor: pointer;
  transition: all .15s ease-in-out;
  text-decoration: none;
}

code, pre, var {
  font-family: 'Source Code Pro', consolas;
  font-style: normal;
}

code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 2px 4px;
  font-size: 90%;
}

.prettyprint {
  padding-top: 15px;
}

/**
 * For top navigation.
 * : <navbar class="navbar-top">
 */
navbar.navbar-top {
  display: block;
  background: #2c3840;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 42px;
  min-height: 42px;
  text-align: right;
  border-bottom: solid 1px #888;
  box-shadow: #686868 1px 1px 1px;
}

navbar.navbar-top a {
  color: #ccc;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 11px 15px 13px;
  font-weight: 600;
  text-decoration: none;
}

navbar.navbar-top .navbar-top-left {
  float: left;
}

navbar.navbar-top .navbar-top-left a {
  color: #dedede;
  padding: 12px 15px;
}

navbar.navbar-top .navbar-top-left a img {
  display: inline-block;
  vertical-align: top;
  margin: -2px 10px 0 0;
  height: 20px;
  width: auto;
}

navbar.navbar-top .navbar-top-right a {
  border-left: solid 1px #686868;
}

navbar.navbar-top .navbar-top-right a .fa {
  margin-right: 5px;
}

navbar.navbar-top .navbar-top-right a:hover {
  background: #41525e;
  color: #fff;
}

navbar.navbar-top .navbar-top-right a.primary {
  background: #008CBA;
  color: #fff;
  margin-left: -3px;
  border-left-color: #aaa;
}

navbar.navbar-top .navbar-top-right a.primary:hover {
  background: #026d90;
}

navbar.navbar-top .navbar-top-right-mobile {
  display: none;
  vertical-align: top;
  font-size: 25px;
  background: none;
  border: 0;
  padding: 10px 13px 9px;
  color: #eee;
}

navbar.navbar-top .navbar-top-right-mobile:hover {
  background: #41525e;
  color: #fff;
}

/**
 * For top navigation right-side related links.
 * : <navbar class="navbar-top"> .. <div class="navbar-top-right"> .. <div class="navbar-top-right-related">
 */
navbar.navbar-top .navbar-top-right .navbar-top-right-related {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}

navbar.navbar-top .navbar-top-right .navbar-top-right-related a {
  font-size: 12px;
  border: 0;
  padding: 13px 8px 13px;
}

navbar.navbar-top .navbar-top-right .navbar-top-right-related a:hover {
  background: none;
}

/**
 * For side-right navigation.
 * : <navbar class="navbar-right">
 */
navbar.navbar-right { 
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  background: #444;
  right: 0;
  bottom: 0;
  top: 42px;
  z-index: 9;
  color: #ccc;
  border-left: solid 1px #ccc;
  padding: 25px 0 25px 0;
  overflow-y: auto;
  transition: all .35s ease-in-out;
}

navbar.navbar-right ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

navbar.navbar-right a {
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 12px 15px;
}

navbar.navbar-right .navbar-right-section {
  margin-bottom: 25px;
}

navbar.navbar-right .navbar-right-section-mobile {
  display: none;
}

navbar.navbar-right .navbar-right-section .section-header {
  color: #888;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 15px 15px;
  font-size: 13px;
}

navbar.navbar-right .navbar-right-section > ul > li {
  margin: 0;
  border-left: solid 3px #444;
}

navbar.navbar-right .navbar-right-section > ul > li a {
  font-size: 15px;
  padding: 7px 12px;
  color: #bababa;
}

navbar.navbar-right .navbar-right-section > ul > li a small {
  margin-left: 5px;
  color: #888;
}

navbar.navbar-right .navbar-right-section > ul > li > .parent-header {
  color: #d2ebf3;
  display: none;
  font-size: 11px;
  text-transform: uppercase;
  margin: -5px 12px 5px;
  font-weight: 700;
}

navbar.navbar-right .navbar-right-section > ul > li:hover {
  border-color: #888;
}

navbar.navbar-right .navbar-right-section > ul > li:hover a {
  color: #fff;
}

navbar.navbar-right .navbar-right-section > ul > li:hover a small {
  color: #aaa;
}

navbar.navbar-right .navbar-right-section > ul > li.active {
  border-color: #008CBA;
  background: #565656;
}

navbar.navbar-right .navbar-right-section > ul > li.active > a {
  color: #fff;
}

navbar.navbar-right .navbar-right-section > ul > li.active > a small {
  color: #ccc;
}

navbar.navbar-right .navbar-right-section > ul > li.active > .parent-header {
  display: block;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul {
  margin: 0;
  padding-bottom: 7px;
  display: none;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li a {
  position: relative;
  font-size: 13px;
  margin-left: 26px;
  color: #aaa;
  padding: 5px 7px;
  display: block;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li a .circle,
navbar.navbar-right .navbar-right-section > ul > li.parent ul li a .div {
  transition: all .15s ease-in-out;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li a .circle {
  width: 5px;
  height: 5px;
  left: -15px;
  border-color: #888;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  margin-top: 6px;
  border: solid 2px #aaa;
  background: #444;
  z-index: 2;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li a .div {
  position: absolute;
  bottom: -14px;
  left: -11px;
  top: 14px;
  background: #888;
  display: block;
  width: 2px;
  z-index: 1;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li:last-child a .div {
  display: none;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li a:hover {
  color: #eee;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li:hover a {
  color: #eee;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li:hover a .circle {
  border-color: #eee;
  background: #eee;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li:hover a .div {
  background: #eee;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li.active a {
  color: #d2ebf3;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li.active a .div {
  background: #d2ebf3;
}

navbar.navbar-right .navbar-right-section > ul > li.parent ul li.active a .circle {
  border-color: #d2ebf3;
  background: #008CBA;
}

navbar.navbar-right .navbar-right-section > ul > li.parent.active > ul {
  display: block;
}


/**
 * For main content.
 * : <main class="main-content">
 */
main.main-content {
  position: absolute;
  right: 250px;
  top: 0;
  left: 0;
  padding: 0;
  transition: all .35s ease-in-out;
}

main.main-content h1,
main.main-content h2 {
  font-weight: 300;
  margin-top: 0;
  color: #008CBA;
}

main.main-content h2 {
  border-left: solid 2px #d2ebf3;
  padding-left: 15px;
  font-weight: 600;
}

main.main-content h2 code {
  background: #f9f2f4;
  color: #008CBA;
}

main.main-content h3 {
  color: #026d90;
  margin-top: 0;
}

main.main-content.tabs {
  padding-top: 75px;
}

main.main-content.tabs .header-tabs {
  position: fixed;
  top: 42px;
  left: 0;
  right: 250px;
  padding: 7px 25px 0 25px;
  background: #fff;
  z-index: 3;
  border-bottom: solid 1px #ccc;
  transition: all .15s ease-in-out;
  background: #eee;
  text-align: right;
}

main.main-content.tabs .header-tabs .header-tabs-mobile {
  display: block;
}

main.main-content.tabs .header-tabs h1 {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px 0 0;
  font-size: 18px;
  padding: 8px 0 3px;
  font-weight: 600;
  float: left;
}

main.main-content.tabs .header-tabs h1 small {
  color: #888;
  margin-left: 2px;
  font-size: 13px;
}

main.main-content .header-tabs a {
  display: inline-block;
  vertical-align: top;
  padding: 9px 17px;
  margin-right: 2px;
  font-weight: 600;
  color: #888;
  text-transform: capitalize;
}

main.main-content .header-tabs a:hover {
  color: #444;
}

main.main-content .header-tabs a.active {
  padding-bottom: 10px;
  border-bottom: solid 2px #008CBA;
  color: #444;
}

main.main-content.tabs .header-tabs .header-tabs-mobile-selection {
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
  display: none;
}

main.main-content.tabs .header-tabs .header-tabs-mobile-selection .toggled-icon {
 display: none;
}

main.main-content .content,
main.main-content .content .prettyprint {
  word-break: break-word;
}

main.main-content .content .prettyprint {
  max-width: 100%;
  overflow-y: auto;
}

main.main-content .content.doc {
  position: relative;
  border-bottom: solid 1px #dadada;
  display: table;
  width: 100%;
}

main.main-content .content.doc h2 {
  border-left: 0;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
}

main.main-content .content.doc h2 span {
  font-size: 14px;
  color: #686868;
  font-weight: 500;
}

main.main-content .content.doc h2 .since {
  float: right;
}

main.main-content .content.doc h2 .type {
  margin-left: 9px;
}

main.main-content .content.doc h2 .type a,
main.main-content .content.doc h2 .type .return-none {
  margin-left: 5px;
}

main.main-content .content.doc h2 .type .return-none {
  color: #aaa;
}

main.main-content .content.doc h2 .type code {
  color: #c7254e;
  font-size: 14px;
  text-decoration: underline;
}

main.main-content .content.doc h2 code small {
  color: #696969;
}

main.main-content .content.doc h3 {
  color: #222;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  font-weight: 600;
}

main.main-content .content.doc .doc-left,
main.main-content .content.doc .doc-right {
  display: table-cell;
  vertical-align: top;
}

main.main-content .content.doc .doc-left {
  width: 100%;
  padding: 35px 25px 25px 25px;
}

main.main-content .content.doc .doc-right {
  min-width: 400px;
  max-width: 400px;
  margin: 0;
  background: #f7f3f7;
  overflow-x: auto;
  padding: 5px 25px 25px 25px;
}

main.main-content .content.doc .doc-right pre {
  width: 100%;
  font-size: 13px;
}

main.main-content .content.doc .doc-left .panel {
  padding: 3px 7px;
  border-left: solid 2px #ccc;
  color: #888;
  margin-bottom: 7px;
  font-weight: 600;
}

main.main-content .content.doc .doc-left .panel b {
  font-weight: 800;
}

main.main-content .content.doc .doc-left .panel.danger {
  color: #ce4844;
  border-color: #ce4844;
}

main.main-content .content.doc .doc-left .panel.warning {
  color: #aa6708;
  border-color: #aa6708;
}

main.main-content .content.doc .doc-left .panel.info {
  color: #1b809e;
  border-color: #1b809e;
}

main.main-content .content.doc .doc-params {
  padding-left: 25px;
}

main.main-content .content.doc .doc-params .doc-params {
  padding-left: 20px;
  padding-top: 7px;
}

main.main-content .content.doc .doc-params code {
  font-size: 12px;
}

main.main-content .content.doc .doc-params > li {
  padding-bottom: 7px;
  list-style-type: circle;
}

main.main-content .content.doc .doc-params > li p {
  margin: 0;
  padding: 2px 0;
}

main.main-content .content.doc .doc-params > li .param-name,
main.main-content .content.doc .doc-params > li .param-desc {
  margin: 7px 0 0;
}

main.main-content .content.doc .doc-params > li .param-name code {
  font-size: 13px;
}

main.main-content .content.doc .doc-params > li .param-name .typeof {
  background: #f8f8f8;
  color: #888;
  font-size: 12px;
  padding: 2px 9px;
  margin-left: 9px;
  text-decoration: underline;
}

main.main-content .content.doc .doc-params > li .param-name span {
  color: #888;
  border: solid 1px #ccc;
  border-top: 0;
  border-bottom: 0;
  padding: 2px 7px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -2px;
  background: #eee;
  font-size: 12px;
}

main.main-content .content.doc .doc-params > li .param-name .optional b {
  font-weight: 600;
}

main.main-content .content.doc .doc-params > li .param-name .optional code {
  font-size: 12px;
}

main.main-content .content.doc .doc-params > li .param-name .beta {
  color: #1b809e;
  background: #d9edf7;
}

main.main-content .content.doc .doc-params > li .param-name .deprecated {
  color: #8a6d3b;
  background: #fcf8e3;
}

main.main-content .content.doc .doc-params > li .param-name .response {
  background: #337ab7;
  color: #fff;
  font-weight: 600;
}

main.main-content .content.doc .doc-params > li .param-desc ul,
main.main-content .content.doc .doc-params > li .param-desc ol {
  padding-left: 19px;
  margin-top: 15px;
}

main.main-content .content.doc .doc-params > li .param-desc ol li,
main.main-content .content.doc .doc-params > li .param-desc ul li {
  margin-bottom: 5px;
}

main.main-content .content.doc .doc-params > li .param-desc ul {
  list-style-type: disc;
  color: #888;
  font-size: 13px;
  margin-top: 5px;
}

@media screen and (max-width: 996px) {
  body {
    font-size: 16px;
  }

  navbar.navbar-top {
    min-height: 51px;
    max-height: 51px;
  }

  navbar.navbar-top .navbar-top-left a {
    padding-top: 12px;
    font-size: 19px;
  }

  navbar.navbar-top .navbar-top-left a img {
    margin-top: 1px;
    height: 25px;
    width: auto;
  }

  navbar.navbar-top .navbar-top-right {
    display: none;
  }

  navbar.navbar-top .navbar-top-right-mobile {
    display: inline-block;
  }

  navbar.navbar-right {
    min-width: 300px;
    max-width: 300px;
  }

  navbar.navbar-right .navbar-right-section-mobile {
    display: block;
  }

  navbar.navbar-right .navbar-right-section .section-header {
    font-size: 14px;
    margin-left: 20px;
  }

  navbar.navbar-right .navbar-right-section > ul > li a {
    font-size: 18px;
    padding: 12px 15px;
  }

  navbar.navbar-right .navbar-right-section > ul > li.parent.active ul,
  navbar.navbar-right .navbar-right-section > ul > li.parent.active .parent-header {
    display: none;
  }

  navbar.navbar-right {
    right: -300px;
  }

  main.main-content {
    right: 0px;
  }

  main.main-content.tabs .header-tabs {
    right: 0;
    transition: right .35s ease-in-out;
    top: 51px;
  }

  main.main-content.tabs .header-tabs h1 {
    font-size: 20px;
  }

  main.main-content.tabs .header-tabs h1 small {
    font-size: 15px;
  }

  .toggled {
    overflow: hidden;
  }

  .toggled navbar.navbar-right {
    right: 0px;
  }

  .toggled main.main-content {
    right: 300px;
    left: -300px;
  }

  .toggled main.main-content.tabs .header-tabs {
    right: 300px;
    left: -300px;
  }
}

@media screen and (max-width: 800px) {
  main.main-content .content.doc .doc-right {
    display: none;
  }

  main.main-content.tabs .header-tabs {
    padding-bottom: 7px;
  }

  main.main-content.tabs .header-tabs .header-tabs-mobile {
    display: none;
    background: #ddd;
    border: solid 1px #ccc;
    margin: 9px -25px -7px;
    border-left: 0;
    border-right: 0;
  }

  main.main-content.tabs .header-tabs .header-tabs-mobile-selection {
    display: inline-block;
  }

  main.main-content.tabs .header-tabs .header-tabs-mobile a {
    display: block;
    padding: 12px 25px;
    text-align: left;
    margin: 0;
  }

  main.main-content.tabs .header-tabs .header-tabs-mobile a.active {
    border: 0;
    background: #008CBA;
    color: #fff;
  }

  main.main-content.tabs .header-tabs.toggled .header-tabs-mobile {
    display: block;
  }

  main.main-content.tabs .header-tabs.toggled .header-tabs-mobile-selection .toggled-icon {
    display: inline;
  }

  main.main-content.tabs .header-tabs.toggled .header-tabs-mobile-selection .untoggled-icon {
    display: none;
  }
}
