<h1>Socket Demo</h1>
<p>Classes: <code>Globals</code> and <code>Socket</code>
</p>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Example 1:</h4>
      <p>Failure case where Fallback from WebSocket to XHRPolling.</p>
      <pre>
          var socket = new Socket({
            server: 'signaling.channel.com',
            httpPortList: [1, 2, 3],
            httpsPortList: [1, 2]
          }, function (event, data){ });
          
          socket.connect();
        </pre>

      <div class="input-group">
        <span class="input-group-addon">Type</span>
        <input id="type" type="text" class="form-control" value="WebSocket">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Server</span>
        <input id="server" type="text" class="form-control" value="localhost">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Http ports</span>
        <input id="http" type="text" class="form-control" value="6002,6003">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Https ports</span>
        <input id="https" type="text" class="form-control">
      </div>

      <button onclick="failConnect()">Start</button>


    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="btn-group">
    <button class="btn btn-default btn-sm" onclick="disconnect()">Disconnect</button>
    <button class="btn btn-default btn-sm" onclick="clearL()">Clear Logs</button>
  </div>

  <div id="output" class="panel"></div>
</div>