<h1>1. Web SDK Overview</h1>
<article class="_first">
  <img src="img/SDKOverview.svg">
  <p>In each Temasys Platform <b>Account</b>, there are a number of <b>App</b>s, in which contains <b>App Key</b>s to
    access the <b>App</b> space to start connection with other Peers in the same <b>Room</b>.</p>
  <p><b>App Key</b>s can be considered as access tokens to access the <b>App</b> space, which contains a list of <b>Room</b>s, identified by its name.</p>
  <p>Each client connection to the <b>Room</b> is a session, and before it can start, the <b>App Key</b> used as an access token
  has to be authenticated first. The starting datetime and duration of the session is based on and set by the authentication method used.</p>
  <p>Once authentication has been successful, the <b>Room</b> will open a <b>Socket</b> connection to the server to
  start the connection session, and once client connection session has started, the received <b>Peer</b> connections
  will be the connection sessions from other clients. If the <b>Peer</b> connection has audio or video media to send, it
  will return <b>Stream</b>s or if <b>Datachannel</b> connections are enabled for both clients, the <b>Datachannel</b>
  connection would be received. The <b>Datatransfer</b> session will be received if client or other client is sending data through the <b>Datachannel</b> connection.</p>
</article>
<article>
  <h3>Authentication Methods</h3>
  <p>There are 2 methods in which you can authenticate the <b>App Key</b> to access the <b>App</b>
  space and start the <b>Room</b> connection session.</p>
  <h4><span class="no">1</span> CORS domain method:</h4>
  <img src="img/auth_method_01.png" width="550px">
  <p>This method allows the client to be authenticated by the site accessing CORS (Cross-Origin domain). Note that hash
  authentication method is preferred by default, unless it is not provided.</p>
  <p>If the client is accessing from <code>appsite.com</code> and the <b>App Key</b> list of CORS domains configured does not
  contain the client's accessing CORS domain, the connection session will not start and will be rejected. This will only
  work if the <b>App Key</b> CORS domain configuration contains one of the client's accessing CORS domain.</p>
  <p>To configure the list of allowed CORS domains, simply access the <a href="https://console.temasys.io">Temasys Console</a>
  and set the <u>CORS URL</u> configuration setting for the <b>App Key</b> used. To configure it by REST API, you can do a
  PUT request to <code class="route">PUT /rest/apps/:appkey</code> and update the <code>"corsurl"</code> (string) property.</p>
  <p>(Read more about the
  <a href="https://temasys.atlassian.net/wiki/spaces/TPD/pages/10387490/Skylink+REST+API">Temasys REST API documentation here</a>)</p>
  
  <p><h5>Here are some rules for setting the list of CORS domains:</h5>
  <ul>
    <li><span>Should NOT contain spaces (e.g. <code>app.com, app2.com</code>)</span></li>
    <li><span>Should NOT contain ports (e.g. <code>app.com:4232</code>)</span></li>
    <li><span>Should NOT contain protocol (e.g. <code>https://app.com</code>)</span></li>
    <li><span>Should NOT contain path (e.g. <code>app.com/path</code>)</span></li>
    <li><span>Multiple domains must be separated with a comma.
    IP addresses can be used (e.g. <code>app.com,app2.org,192.1.0.2,testdomain.io</code>)</span></li>
  </ul>

  <p>For this method, the starting datetime is the <u>current datetime</u> when the authentication
  is made and the duration is <u>24</u> hours for the client connection session to the
  <b>Room</b> after authentication is successful.</p>

  <h4><span class="no">2</span> Hash method:</h4>
  <img src="img/auth_method_02.png" width="550px">
  
  <p>This method allows the client to be authenticated by verification of the hash generated by concatenating the
  starting datetime stamp, duration (in hours), the <b>Room</b> name and the <b>App Key</b> secret. For client without accessing CORS checks,
  this would be the method preferred.</p>

  <p>If the hash provided does not match what is generated by the server, the connection session will not start and
  will be rejected. This will only work if the <b>App Key</b> generated hash matches the one generated by the server,
  and this ensures that the <b>App Key</b> <u>secret</u> matches for the <b>App Key</b> provided. It is advisable to ensure
  that the <u>secret</u> is not exposed or displayed on your client website.</p>

  <h5>Here are the steps to generate the hash:</h5>
  <ol>
    <li><span>Concatenate the <b>Room</b> name, duration (in hours, max value is <u>24</u>) and the starting datetime stamp
    (ISO 8601) (e.g. <code>var str = room + "_" + duration + "_" + startDateTimeStamp</code></span></li>
    <li><span>Hash the concatenated string with the <b>App Key</b> secret using HMAC SHA-1
    (e.g. <code>var hash = CryptoJS.HmacSHA1(str, secret)</code></span></li>
    <li><span>Encode hash string to using Base64 encoding
    (e.g. <code>var base64Hash = hash.toString(CryptoJS.enc.Base64)</code></span></li>
    <li><span>Replace special characters for URI strings (e.g. <code>var outputHash = encodeURIComponent(base64Hash)</code></span></li>
  </ol>
   
  <p>For this method, the starting datetime, duration for the client connection session to the
  <b>Room</b> is based on duration and starting datetime provided after authentication is successful.
  The maximum duration is <u>24</u> hours. Note that you provide an expired starting datetime stamp, the connection session
  will be not be able to start as it is considered "ended".</p>
</article>
<article>
  <h3>Persistent (Scheduled) vs Dynamic Room connection sessions</h3>
  <img src="img/persistent_room.png" width="350px">
  <p>For Persistent enabled <b>App Key</b>s, the <b>Room</b>s (in which would be called Persistent <b>Room</b>s)
  will have a scheduled client connection sessions instead of dynamic connection sessions where a fixed
  starting datetime and duration is set. By default, the feature is turned off.</p>
  <h4><span class="no">a</span> Persistent Room</h4>
  <img src="img/ScheduledSession1.svg" width="650px">
  <p>For Persistent <b>Room</b>s, the server will only accept connection sessions of starting datetime, duration
  that matches the specified scheduled connection session (meeting) that is created with the REST API Meeting resources.</p>
  <p>If the requested starting datetime, duration does not match any existing scheduled connection sessions (meeting),
  the connection session will not start and will be rejected. This will only work if the requested starting datetime, duration
  matches any existing scheduled connection sessions in the <b>Room</b>. Note that hash authentication method is required for
  Persistent enabled <b>Room</b>s connection sessions.</p>
  <h5>To enable Persistent Room feature:</h5>
  <ol>
    <li><span>Enable the <u>Persistent Room</u> feature on the <a href="https://console.temasys.io">Temasys Console</a> for
    the <b>App Key</b>. You can also enable it via REST API by a PUT request to
    <code class="route">PUT /rest/apps/:appkey</code> and toggle the <code>"room"</code> (boolean) property.</span></li>
    <li><span>Create the meeting schedule via REST API by a POST request to
    <code class="route">POST /rest/meetings/</code> and provide the <b>Room</b> name (<code>"rid"</code> property - string),
    <b>App Key</b> (<code>"api"</code> property - string), starting datetime stamp (ISO 8601) (<code>"start"</code> - string)
    and duration (in hours) (<code>"len"</code> - number).</span></li>
    <li><span>Start the connection session based on the created meeting schedule with the same <b>Room</b> name,
    <b>App Key</b>, starting datetime stamp and duration with the hash authentication method.</span></li>
  </ol>

  <p>You can also retrieve the list of scheduled meetings with the GET request to
  <code class="route">GET /rest/meetings/:appkey</code> or delete a scheduled meeting with the DELETE request to
  <code class="route">DELETE /rest/meetings/:meetingid</code>.</p>
  <p>(Read more about the
  <a href="https://temasys.atlassian.net/wiki/spaces/TPD/pages/10387490/Skylink+REST+API">Temasys REST API documentation here</a>)</p>

  <h4><span class="no">b</span> Dyanmic Room (non-Persistent)</h4>
  <img src="img/ScheduledSession2.svg" width="650px">
  <p>For Dynamic <b>Room</b>s (when Persistent feature is turned off), the server will accept
  connection sessions regardless of starting datetime or duration. All it needs is to ensure that the
  authentication passes regardless of authentication method. This is the default setting.</p>
</article>
<article>
<h3>Privileged clients & Auto-Introduce Rooms</h3>
<img src="img/auto_introduce.png" width="350px">
  <p>For cases where in a customer call-centre environment, there is some "Privileged" clients that can select the clients to connect to,
or when there is a need to have the ability for certain clients to select a client to connect to another client,
the Privileged Room connection session would come in handy.</p>

<h4><span class="no">a</span> Auto-Introduce Room</h4>
<img src="img/AutoIntroduce.svg">
<p>When Auto-Introduce is enabled for the <b>App Key</b>, its <b>Room</b>s will have every client to be aware of each other
presence and be connected to one another. By default, it is turned on.</p>
<p>When Auto-Introduce is disabled for the <b>App Key</b>, its <b>Room</b>s will not have clients to be aware of each other
presence in the <b>Room</b>. This goes well with the Privileged Peer feature where the "Privileged" client will have the ability
to retrieve the list of current client IDs in every <b>Room</b>s in the same <b>App</b> space, and introduce a client to another
client to start connection with each other.</b>

<h4><span class="no">b</span> "Privileged" clients</h4>
<img src="img/privileged.svg">
<p>After Auto-Introduce is disabled, the clients do not know of each other presence in the <b>Room</b>s. But that however, the
"Privileged" clients can see what are the list of client IDs in each <b>Room</b>s in the current <b>App</b> space, and introduce
a client to another, regardless of "Privileged" status or not. By default, it is turned off.</p>
<h5>To enable "Privileged" and non-"Privileged" clients settings</h5>
<ol>
  <li><span>Disable Auto-Introduce both "Privileged" and non-"Privileged" <b>App Key</b>s under the same <b>App</b>. You can
  toggle that in the <a href="https://console.temasys.io">Temasys Console</a> for the <b>App Key</b> or disable it for both
  via REST API by a PUT request to <code class="route">PUT /rest/apps/:appkey</code>
  and toggle the <code>"autoIntroduce"</code> (boolean) property.</span></li>
  <li><span>Enable "Privileged" for one <b>App Key</b> and disable "Privileged" for the other <b>App Key</b>. You can toggle
  that in the <a href="https://console.temasys.io">Temasys Console</a> for the <b>App Key</b> or disable it for both
  via REST API by a PUT request to <code class="route">PUT /rest/apps/:appkey</code>
  and toggle the <code>"isPrivileged"</code> (boolean) property.</span></li>
  <li><span>Connect "Privileged" clients via the "Privileged" enabled <b>App Key</b> and non-"Privileged" clients via
  the "Privileged" disabled <b>App Key</b>.</span></li>
</ol>

<h5>Here are some rules to know for this "Privileged" feature</h5>
<ol>
  <li><span>"Privileged" clients are only able to retrieve clients from <b>Room</b>s connected from Auto-Introduce disabled 
  <b>App Key</b>s.</span></li>
  <li><span>"Privileged" clients are only able to introduce clients from <b>Room</b>s connected from Auto-Introduce disabled 
  <b>App Key</b>s and both clients has to be from the same <b>Room</b>.</span></li>
  <li><span>"Privileged" clients are able to introduce and retrieve "Privileged" clients too.</span></li>
  <li><span>Auto-Introduce has to be disabled for "Privileged" functionalities to work.</span></li>
  <li><span>As long as the client connects via the "Privileged" enabled <b>App Key</b>, the client is a "Privileged" client regardless
of the <b>Room</b> it's connected to.</span></li>
</ol>
</article>




