<navbar class="side">
  <div id="side-menu" class="navbar-wrapper">
    <ul class="menu">
      <div class="section">
        <span class="header">Getting Started</span>    
        {{#sidebardefaultitems}}{{/sidebardefaultitems}}
      </div>
      <div class="section">
        <span class="header">API Documentation</span>
        <li>
          <a>Temasys <small>module</small><i class="fa fa-caret-down"></i></a>
          <ul>
            {{#each classes}}
              {{#sidebaritem this true}}{{/sidebaritem}}
            {{/each}}
          </ul>
        </li>
        {{#each classes}}
          {{#sidebaritem this false}}{{/sidebaritem}}
        {{/each}}
      </div>
    </ul>
  </div>
</navbar>